.container {
    height: 120vh;
    width: 100%;
    background-color: black;
}

.wrapper {
    margin: 0 auto;
    margin-top: 10rem;
    height: 100%;
    width: 80%;
    padding-top: 6rem;
}

.titles {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subtitle {
    color: rgb(211, 205, 205);
    font-size: 20px;
    font-weight: 300;
}

.title {
    color: #efefeff5;
    font-weight: bold;
    font-size: 56px;
}

.sides {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: start;
    gap: 50px;
}

.card {
    border: 1px solid #fff;
    padding: 1rem;
    height: 150px;
    width: 240px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 60px;
}

.card i{
    font-size: 24px;
}

.card > span:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card > span:last-child{
    text-align: center;
    color: #cec2c2;
    font-size: 19px;
}

.card:hover{
    background-color: #fff;
    color: #000000;
    border-color: #1721ad;
}

.right > form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #4f4f54;
    padding: 5rem 2.5rem;
    border-radius: 16px;
}

.right > form > input, textarea{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    height: 45px;
    width: 250px;
    color: #fff;
    font-size: 18px;
    transition: 150ms all;
}

form > textarea{
    resize: none;
}

form > input:focus{
    border-color: #cfc7c7;
    padding-left: 0.75rem;
}

form > textarea:focus{
    border-color: #cfc7c7;
    padding-left: 0.75rem;
}

.right > form > button{
    border: 1px solid transparent;
    color: #fff;
    background-color: black;
    padding: 0.5rem 0;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 150ms all;
}

.right > form > button:hover{
    border-color: #ffffff;
    color: #000000;
    background-color: rgb(229, 221, 221);
}